@import 'style.css';

/* MAIN PAGE HEADING */
div.heading{
    background: var(--colour-signature-gradient);
    height: 90vh;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    text-align: center;
}

/* MAIN PAGE CONTENT */
div#homePageContent{
	background: rgb(var(--colour-surface-50));
	display: grid;
	gap: 6vh;
    padding: 3vh 7vw;
}

/* PREVIEW CARD */
div.previewCard{
    position: relative;
    display: flex;
    padding: 3em;
	background: rgb(var(--colour-surface-100));
	box-shadow: 14px 10px 10px 10px rgb(var(--colour-tertiary-300));
	border-radius: 50px;
	border: solid rgb(var(--colour-surface-400));
}

div.previewCard>img{
    height: 10em;
    width: auto;
}

div.previewCard>div{
    flex: 1;
    margin: 0 3vw;
    display: flex;
    flex-direction: column;
}

div.previewCard>div>h2{
    margin: 0;
    font-weight: bold;
	color: black;
}

div.previewCard>div>p{
    color: black;
	margin: 10pt 0;
}

div.previewCard>div>input[type="button"] {
    position: absolute;
    bottom: 2vw;
    right: 4vw;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    padding: 10px 20px;
    width: auto;
    height: auto;
    border: 0;
    border-radius: 16px;
    background-color: rgb(var(--colour-primary-500));
    color: white;
    cursor: pointer;
    text-align: center;
}