/* VARIABLES AND CONSTANTS */
@import 'variables.css';

/* BODY */
body {
    margin: 0px;
    justify-content: center;
	font-family: 'Roboto', sans-serif;
}

/* RESUME PAGE SETUP */
div#resumeDocument{
    display: grid;
    font-family: Arial;
    padding: 1in;
    font-size: 14pt;
    border-style: solid;
    border-width: 2px;
}

/* MAIN PAGE HEADING */
div.heading{
    background-color: var(--surface-colour); /* replace with some image */
    height: 90vh;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

div.heading>header>h1#mainTitle{
    color: var(--secondary-colour);
    text-align: center;
}

div.heading>header>h3#subTitle{
    color: var(--secondary-colour);
    text-align: center;
}

/* NAV BAR */
div.navBar{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 5%;
    background-color: rgba(0, 0, 0, 0.6);
	display: flex;
    justify-content: flex-end;
	align-items: center;
}

div.navBar>a{
    width: 13%;
    text-decoration: none;
    align-items: center;
}

div.navBar>a>div{
    background-color: rgba(25, 25, 25, 0.9);
    color: rgba(256, 256, 255, 1.0);
	height: 25px;
    border-radius: 15px;
    margin-right: 10px;
    display: flex;
    align-items: center;
	justify-content: center;
}

div.navBar>a>div#currentPage{
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(16, 37, 230, 0.9);
}

div.navBar>a>div>p{
    text-align: center;
}

/* MAIN PAGE CONTENT */

div.homepageContent{
    display: flex;
    padding: 3vw;
}

/* PREVIEW CARD */

div.previewCard{
	position: relative;
    display: flex;
    justify-content: space-between;
	/*background: var(--tertiary-colour);*/
	box-shadow: 0px 4px 8px rgba(var(--surface-colour-value), 0.6);
	border-radius: 20px;
	margin: 15px;
    padding: 10px;
}

div.previewCard>img{
    border-radius: 20px;
    height: auto;
    width: 20vw;
}

div.previewCard>div{
    flex: 1;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

div.previewCard>div>h2{
    font-weight: bold;
    margin: 0;
}

div.previewCard>div>p{
    margin: 0;
}

div.previewCard>div>input[type="button"] {
	position: absolute; /* Position button relative to previewCard */
    bottom: 10px; /* Distance from bottom */
    right: 10px; /* Distance from right */
	padding: 10px 20px; /* Adjust padding to increase button size */
    width: auto; /* Let the width adjust based on content */
    height: auto; /* Let the height adjust based on content */
    align-self: flex-end;
	display: flex;
	border: 0;
	text-align: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 10px;
	background: var(--primary-colour);
}

/* DOCUMENT TITLE */
div.heading>header>h1{
    text-align: center;
    font-size: 30pt;
	margin: 10px;
}

div.heading>header>h3{
    text-align: center;
	margin: 10px;
}

/* CONTACT BLOCK */
div#heading>div#contactBlock>p{
    text-align: right;
}

/* EDUCATION AND WORK EXPERIENCE*/
div.thridLevelSubheading>p#date{
    text-align: right;
    flex: auto;
}

div.thridLevelSubheading{
    border-bottom: solid 2px;
    display: flex;
}

div#projects>ul>li{     /* projects list in resume */
    padding-top: 10px;
}

/* PORTFOLIO DIRECTORY */
div#directory{
    display: grid;
    width: 100%;
}

div#directory>a{
    text-decoration: none;
}

div.projectCard{
    display: grid;
    border-style: solid;
    border-color: #249c9e;
    padding: 20px;
    margin-bottom: 15px;
    margin-right: 5px;
    box-shadow: 7px 7px rgba(0, 95, 96, 0.3);
    
}

div.projectCard{
    display: flex;
    border-style: solid;
    border-color: #249c9e;
    border-width: 2px;
    border-width: 10%;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
}

div.projectCard>img{
	width: 15vw;
	height: auto;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: #FD5901;
}

div.projectCard>img#capstoneDirectoryImage{
    height: 200px;
    width: 200px;
}

div.projectCard>img#monopolyDirectoryImage{
    height: 120px;
    width: 200px;
}

div.projectCard>img#storeDirectoryImage{
    height: 126px;
    width: 200px;
}

div.projectCard>img#greenRoofsDirectoryImage{
    height: 123px;
    width: 200px;
}

div.projectCard>div{
    margin-left: 10px;
}

div.projectCard>div>h2{
    color: #FD5901;
}

div.projectCard>div>h3{
    color: #249c9e
}

div.projectCard>div>p{
    color: #249c9e;
}

div.projectCard>div>ul>li{
    color: #FD5901;
}

div.projectCard>div>img{
    height: 100px;
    width: 200px;
}

div.subject>div.details>img#ubuntu_logo{
    width: 50%;
    height: auto;
}

div.subject>div.details>img#roboflow_logo{
    width: 50%;
    height: auto;
}