/* VARIABLES AND CONSTANTS */
@import 'variables.css';

/* BODY */
body {
    margin: 0px;
    justify-content: center;
	font-family: 'Roboto', sans-serif;
}

/* RESUME PAGE SETUP */
div#resumeDocument{
    display: grid;
    font-family: Arial;
    padding: 1in;
    font-size: 14pt;
    border-style: solid;
    border-width: 2px;
}

/* MAIN PAGE HEADING */
div.heading{
    background: var(--surface-colour); /* replace with some image */
    height: 90vh;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
	color: hsl(var(--secondary-colour-h), var(--secondary-colour-s), 50%);
    text-align: center;
}

/* NAV BAR */
div.navBar{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 5%;
    background-color: rgba(0, 0, 0, 0.6);
	display: flex;
    justify-content: flex-end;
	align-items: center;
}

div.navBar>a{
    width: 13%;
    text-decoration: none;
    align-items: center;
}

div.navBar>a>div{
    background-color: rgba(25, 25, 25, 0.9);
    color: rgba(256, 256, 255, 1.0);
	height: 25px;
    border-radius: 15px;
    margin-right: 10px;
    display: flex;
    align-items: center;
	justify-content: center;
}

div.navBar>a>div#currentPage{
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(16, 37, 230, 0.9);
}

div.navBar>a>div>p{
    text-align: center;
}

/* MAIN PAGE CONTENT */

div.homepageContent{
    display: flex;
    padding: 3vw;
}

/* PREVIEW CARD */

div.previewCard{
	position: relative;
    display: flex;
    justify-content: space-between;
	/*background: var(--tertiary-colour);*/
	box-shadow: 0px 4px 8px rgba(var(--surface-colour-value), 0.6);
	border-radius: 20px;
	margin: 15px;
    padding: 10px;
}

div.previewCard>img{
    border-radius: 20px;
    height: auto;
    width: 20vw;
}

div.previewCard>div{
    flex: 1;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

div.previewCard>div>h2{
    font-weight: bold;
    margin: 0;
}

div.previewCard>div>p{
    margin: 0;
}

div.previewCard>div>input[type="button"] {
	position: absolute; /* Position button relative to previewCard */
    bottom: 10px; /* Distance from bottom */
    right: 10px; /* Distance from right */
	padding: 10px 20px; /* Adjust padding to increase button size */
    width: auto; /* Let the width adjust based on content */
    height: auto; /* Let the height adjust based on content */
    align-self: flex-end;
	display: flex;
	border: 0;
	text-align: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 10px;
	background: var(--primary-colour);
}

/* RESUME PAGE */
div#body{
	width: 100vw;
	height: 95vh;
}

div#body>embed{
	width: 100%;
	height: 100%;
}

/* PORTFOLIO DIRECTORY */
div.titleCard{
	background: var(--surface-colour); /* replace with some image */
    height: 25vh;
    /* margin-bottom: 10px; */
    justify-content: left;
    display: flex;
	padding: 5vw 3vh;
	color: hsl(var(--secondary-colour-h), var(--secondary-colour-s), 50%);
}

div#directory{
	/* background: hsl(var(--alternate-surface-colour-h), var(--alternate-surface-colour-s), 20%); */
    display: grid;
    width: 100%;
}

div#directory>a{
	margin: 1vh;
    text-decoration: none;
}

div.projectCard{
	/* background: var(--tertiary-colour); */
	border: solid 2px var(--alternate-surface-colour);
	border-radius: 20px;
    display: flex;
    padding: 20px;
}

div.projectCard>img{
	width: 200px;
	height: auto;
    border-radius: 20px;
    border-width: 0;
}

div.projectCard>div{
    margin-left: 3vw;
	color: hsl(var(--primary-colour-h), var(--primary-colour-s), 60%);
}

div.projectCard>div>img{
    height: 100px;
    width: 200px;
}

div.subject>div.details>img#ubuntu_logo{
    width: 50%;
    height: auto;
}

div.subject>div.details>img#roboflow_logo{
    width: 50%;
    height: auto;
}