/* VARIABLES AND CONSTANTS */
@import 'variables.css';

/* BODY */
body{
    margin: 0px;
}

/* RESUME PAGE SETUP */
div#resumeDocument{
    display: grid;
    font-family: Arial;
    padding: 1in;
    font-size: 14pt;
    border-style: solid;
    border-width: 2px;
}

/* MAIN PAGE HEADING */
div.heading{
    background-color: var(--surface-colour); /* replace with some image */
    height: 90vh;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

div.heading>header>h1#mainTitle{
    color: var(--secondary-colour);
    text-align: center;
}

div.heading>header>h3#subTitle{
    color: var(--secondary-colour);
    text-align: center;
}

/* NAV BAR */
div.navBar{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    background-origin: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

div.navBar>a{
    text-decoration: none;
    width: 13%;
}

div.navBar>a>div{
    background-color: rgba(25, 25, 25, 0.9);
    color: rgba(256, 256, 255, 1.0);
    border-radius: 10px;
    margin-right: 10px;
}

div.navBar>a>div#currentPage{
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(16, 37, 230, 0.9);
}

div.navBar>a>div>p{
    text-align: center;
}

/* MAIN PAGE CONTENT */

div.homepageContent{
    display: flex;
    padding: 3vw;
}

/* PREVIEW CARD */

div.previewCard{
    /*  make 2 columns, one for image, one for title, description and button  */
    /*  columns should be equal in width  */
    /*  max width at 90% page width, leave small background border  */
}

div.previewCard>img{
    /*  make rounded edges */
    /*  find out how to fit any image */
    /*  give consistent size  */
}

div.previewCard>div{
    /*  title and description justify left and button justify right  */
    /*  title at the top, description below it.  Button at the bottom right  */
}

div.previewCard>div>h2{
    /*  justify left  */
    /*  bold  */
}

div.previewCard>div>p{
    /*  justify left  */
}

div.previewCard>div>button{
    /*  justify right  */
}

/* DOCUMENT TITLE */
div#heading>div#title>h1{
    text-align: center;
    font-size: 28pt;
}

div#heading>div#title>h4{
    text-align: center;
}

/* CONTACT BLOCK */
div#heading>div#contactBlock>p{
    text-align: right;
}

/* EDUCATION AND WORK EXPERIENCE*/
div.thridLevelSubheading>p#date{
    text-align: right;
    flex: auto;
}

div.thridLevelSubheading{
    border-bottom: solid 2px;
    display: flex;
}

div#projects>ul>li{     /* projects list in resume */
    padding-top: 10px;
}

/* PORTFOLIO DIRECTORY AND PROJECTS*/
div#directory{
    display: grid;
    width: 100%;
}

div#directory>a{
    text-decoration: none;
}

div.project{
    display: grid;
    border-style: solid;
    border-color: #249c9e;
    padding: 20px;
    margin-bottom: 15px;
    margin-right: 5px;
    box-shadow: 7px 7px rgba(0, 95, 96, 0.3);
    
}

div.project>div{
    display: flex;
    border-style: solid;
    border-color: #249c9e;
    border-width: 2px;
    border-width: 10%;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
}

div.project>div.projectCard{
    border-style: none;
}

div.project>div>img{
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: #FD5901;
}

div.project>div>img#capstoneDirectoryImage{
    height: 200px;
    width: 200px;
}

div.project>div>img#monopolyDirectoryImage{
    height: 120px;
    width: 200px;
}

div.project>div>img#storeDirectoryImage{
    height: 126px;
    width: 200px;
}

div.project>div>img#greenRoofsDirectoryImage{
    height: 123px;
    width: 200px;
}

div.project>div>div{
    margin-left: 10px;
}

div.project>div>div>h2{
    color: #FD5901;
}

div.project>div>div>h3{
    color: #249c9e
}

div.project>div>div>p{
    color: #249c9e;
}

div.project>div>div>ul>li{
    color: #FD5901;
}

div.project>div>div>img{
    height: 100px;
    width: 200px;
}

div.subject>div.details>img#ubuntu_logo{
    width: 50%;
    height: auto;
}

div.subject>div.details>img#roboflow_logo{
    width: 50%;
    height: auto;
}